:root {
    --font: "Jost"
}

html body {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

/* Navbar */
.navbar {
    position: relative;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #443297;
}

.navbar .container {
    position: relative;
    padding: 20px 0px 14px;
    width: 1320px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.navbar .navbar-top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.navbar .nav-top-img {
    width: 117px;
    height: 36px;
}

.navbar .nav-search-frame {
    width: 651px;
    height: 50px;
    margin-left: 76px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.navbar .nav-search-box {
    padding: 15px 0px 13px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar .category-list {
    width: 166px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-right: 1px solid #d6d6d6;
}

.navbar .category-list select {
    width: 140px;
    height: 30px;
    border: none;
    outline: none;
    color: #041E42;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.navbar .nav-search-box input {
    width: 387px;
    height: 22px;
    margin: 0px 17px 0px 12px;
    border: none;
    outline: none;
    color: #626974;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.navbar .nav-search-icon-box {
    width: 51px;
    height: 50px;
    border-radius: 0px 6px 6px 0px;
    background: #F5C34B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-search-icon-box img {
    width: 20px;
    height: 20px;
}

.navbar .nav-top-menu {
    width: 416px;
    height: 50px;
    margin-left: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .top-menu-box {
    width: 134px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar .top-menu-icon-box {
    width: 55px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
}

.navbar .top-menu-icon-box img {
    width: 24px;
    height: 22px;
}

.navbar .top-menu-info-box {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    position: relative;
}

.navbar .top-menu-info-box span {
    color: #FFF;
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.navbar .top-menu-info-box strong {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.navbar .basket-count {
    width: 15px;
    height: 15px;
    display: flex;
    position: absolute;
    margin-top: -40px;
    margin-right: -50px;
    align-items: center;
    justify-content: center;
    background-color: #F5C34B;
    color: #0B1E40;
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50%;
    
}

.navbar .navbar-bottom {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #5746a1;
}

.navbar .nav-bot-menu-box {
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 145px;
    margin-top: 10px;
}

.navbar .bot-first-box {
    width: 185px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5746a1;
}

.navbar .bot-first-box img {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

.navbar .bot-first-box span {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.navbar .bot-second-box {
    width: 690px;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}

.navbar .bot-second-route-box {
    display: flex;
    margin-right: 20px;
    
}

.navbar .bot-second-route-box a {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.navbar .bot-second-route-box a.active {
    color: #F5C34B;
}

.navbar .bot-third-box {
    display: flex;
    flex-direction: row;
}

.navbar .bot-third-box span {
    color: #FFF;
    text-align: right;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}
/* Ending navbar section */

/* Starting Footer section */
.footer-frame {
    position: relative;
    padding: 90px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #F3F5F6;
}

.footer-frame .footer-spec-header {
    margin-bottom: 30px;
    color: #041E42;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-frame .container {
    flex-direction: column;
}

.footer-frame .container .footer-top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer-frame .footer-top .footer-contact-box {
    display: flex;
    flex-direction: column;
}

.footer-frame .footer-contact-box .footer-contact-main {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.footer-frame .footer-contact-main img {
    width: 35px;
    height: 30px;
}

.footer-frame .footer-contact-main div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.footer-frame .footer-contact-main div strong {
    color: #041E42;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.footer-frame .footer-contact-main div span {
    margin-top: 10px;
    color: #041E42;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.footer-frame .footer-support-box {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.footer-frame .footer-support-box a {
    color: #041E42;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
}

.footer-frame .footer-media-box {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}

.footer-frame .footer-media-box .footer-media-main {
    display: flex;
    flex-direction: column;
}

.footer-frame .footer-media-main .media-box {
    display: flex;
    flex-direction: row;
}

.footer-frame .media-box i {
    margin-right: 25px;
}

.footer-frame .footer-media-main .mobile-app-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-frame .mobile-app-box img {
    width: 24px;
    height: 16px;
}

.footer-frame .mobile-app-box span {
    margin-left: 20px;
    color: #041E42;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.footer-frame .footer-media-main .card-box {
    width: 272px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-frame .container .footer-bottom {
    margin-top: 90px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: 1px solid #eaeaea;
}

.footer-frame .footer-bottom .footer-main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.footer-frame .footer-main .footer-bottom-left {
    width: 940px;
    height: auto;

    display: flex;
    flex-direction: row;
}

.footer-frame .footer-bottom-left span {
    margin-right: 60px;
    color: #041E42;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
}

.footer-frame .footer-main .footer-bottom-right {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-frame .footer-bottom-right .footer-select-box {
    padding: 10px 20px;
    width: 180px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-frame .footer-select-box span {
    color: #626974;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer-frame .footer-select-box select {
    margin-left: 20px;
    width: 80px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #041E42;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
/* Ending Footer section */
