:root {
    --font: "Jost"
}

/* Starting navbar section */
.navbar {
    position: relative;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #443297;
}

.container {
    position: relative;
    padding: 20px 0px 14px;
    width: 1320px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.navbar-top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.nav-top-img {
    width: 117px;
    height: 36px;
}

.nav-search-frame {
    width: 651px;
    height: 50px;
    margin-left: 76px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.nav-search-box {
    padding: 15px 0px 13px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.category-list {
    width: 166px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-right: 1px solid #d6d6d6;
}

.category-list select {
    width: 140px;
    height: 30px;
    border: none;
    outline: none;
    color: #041E42;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.nav-search-box input {
    width: 387px;
    height: 22px;
    margin: 0px 17px 0px 12px;
    border: none;
    outline: none;
    color: #626974;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.nav-search-icon-box {
    width: 51px;
    height: 50px;
    border-radius: 0px 6px 6px 0px;
    background: #F5C34B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search-icon-box img {
    width: 20px;
    height: 20px;
}

.nav-top-menu {
    width: 416px;
    height: 50px;
    margin-left: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-menu-box {
    width: 134px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.top-menu-icon-box {
    width: 55px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
}

.top-menu-icon-box img {
    width: 24px;
    height: 22px;
}

.top-menu-info-box {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    position: relative;
}

.top-menu-info-box span {
    color: #FFF;
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.top-menu-info-box strong {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.basket-count {
    width: 15px;
    height: 15px;
    display: flex;
    position: absolute;
    margin-top: -40px;
    margin-right: -50px;
    align-items: center;
    justify-content: center;
    background-color: #F5C34B;
    color: #0B1E40;
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50%;
}

.navbar-bottom {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #5746a1;
}

.nav-bot-menu-box {
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 145px;
    margin-top: 10px;
}

.bot-first-box {
    width: 185px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5746a1;
}

.bot-first-box img {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

.bot-first-box span {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.bot-second-box {
    width: 690px;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}

.bot-second-route-box {
    display: flex;
    margin-right: 20px;
}

.bot-second-route-box a {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.bot-second-route-box a.active {
    color: #F5C34B;
}

.bot-third-box {
    display: flex;
    flex-direction: row;
}

.bot-third-box span {
    color: #FFF;
    text-align: right;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}
/* Ending navbar section */

/* Starting home page */
.home-page {
    display: flex;
    flex-direction: column;
}

.white-png {
    filter: brightness(0) invert(1);
}

/* Category */
.container .category-top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .category-top span {
    color: #041E42;

    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container .category-top div {
    display: flex;
    flex-direction: row;
}

.container .category-top a {
    color: #041E42;
    margin-left: 25px;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.container .category-top a:hover {
    border-bottom: 2px solid #041E42;;
}

/* Next button */
.container .next-prev-box {
    width: 25px;
}

.container .next-prev-box img {
    position: absolute;
    top: 50%;
    left: -30px;
}

/* Category content */
.container .category-content-box {
    padding: 5px 22px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.container .category-content-box .category-title {
    color: #626974;
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-transform: uppercase;
}

.container .category-content-box .category-desc {
    color: #041E42;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.container .category-content-box .review-box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .review-box img {
    margin-right: 5px;
}

.container .review-box span {
    margin-left: 10px;
    color: #626974;

    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.container .category-content-box .price-box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .price-box strong {
    color: #041E42;

    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container .price-box span {
    color: #626974;
    margin-left: 10px;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}

/* Pagination */
.container .pagination-box {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .pagination-box .pagination-main {
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .pagination-main .pagination-dot {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.pagination-main img {
    cursor: pointer;
}

.container .pagination-dot .dot {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container .pagination-dot .dot.active {
    border: 2px solid #112137;
}

.container .pagination-dot .dot div {
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}

.container .hover-border {
    width: 32px;
    height: 3px;
    margin-top: 3px;
    background: #041E42;
}
/* Pagination end */

/* Starting header section */
.header-frame {
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.header-frame .container {
    flex-direction: row;
}

.header-frame .header-left {
    position: relative;
    width: 875px;
    height: 508px;
    padding: 15px;
    background: #0053F6;
    background-image: url(/public/images/header-bg-img.svg);
    border-radius: 5px;
}

.header-frame .header-content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.header-frame .header-content div {
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #041E42;
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border-radius: 6px;
    background: #F5C34B;
}

.header-frame .header-content span {
    width: 428px;
    margin-top: 10px;
    color: #FFF;
    font-family: var(--font);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-frame .header-content p {
    margin-top: 10px;
    color: #FFF;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.header-frame .header-content a {
    margin-top: 20px;
    width: 140px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #FFF;
    color: #041E42;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.header-frame .header-content img {
    position: absolute;
    right: 10px;
}

.header-frame .header-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-frame .header-box {
    width: 422px;
    height: 240px;
    background: #F2F2F2;
    margin-left: 27px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}

.header-frame .box-left {
    margin-left: 37px;
    width: 207px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-frame .box-left span {
    color: #0053F6;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.header-frame .box-left p {
    color: #041E42;
    margin: 10px 0px;
    font-family: var(--font);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-frame .box-left a {
    color: #041E42;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.header-frame .header-box .box-right {
    width: 236px;
    height: 240px; 
}

.header-frame .box-right img {
    width: 100%;
    height: 100%; 
}
/* Ending header section */

/* Starting service section */

.service-frame {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.service-frame .container {
    flex-direction: row;
}

.service-frame .container .service-box {
    width: 25%;
    height: 86px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EAEAEA;
} 

.service-frame .service-box img {
    width: 35px;
    height: 35px;
}

.service-frame .service-box .service-content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.service-frame .service-content span {
    color: #041E42;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.service-frame .service-content p {
    color: #626974;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
/* Ending service section */

/* Starting category section */
.shop-category-frame {
    position: relative;
    margin-top: 90px;
    height: auto;

    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.shop-category-frame .container {
    display: flex;
    flex-direction: column;
}

.shop-category-frame .container .category-bott {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-category-frame .category-bott .category-box {
    width: 142px;
    height: auto;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.shop-category-frame .category-box .category-img-box {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 2px solid #EAEAEA;
}

.shop-category-frame .category-box span {
    margin-top: 15px;
    color: #041E42;
    text-align: center;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
 /* Ending category section */

 /* Selling product section */
.selling-product-frame {
    position: relative;
    margin-top: 62px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.selling-product-frame .container {
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: 576px;
}

.selling-product-frame .container .category-middle {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.selling-product-frame .category-middle .category-middle-boxes {
    position: relative;
    width: 1224px;
    height: 452px;
    
    display: flex;
    flex-direction: row;  
}

.selling-product-frame .category-middle-boxes .category-box {
    width: 306px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selling-product-frame .category-box .category-img-box {
    width: 100%;
    height: 280px;
}

.selling-product-frame .category-img-box .hover-box {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.selling-product-frame .hover-box button {
    width: 260px;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 6px;

    background: #0053F6;
    box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.10);
    color: #FFF;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.selling-product-frame .category-img-box:hover .hover-box {
    display: flex;
}
/* Ending Selling section */

/* Starting Adv section */
.adv-frame {
    margin-top: 90px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0053F6;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #e5edff;
}
/* Ending Adv section */

/* Starting Special-product section */
.spec-product-frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spec-product-frame .container {
    flex-direction: column;
}

.spec-product-frame .container .spec-product-wrapper {
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.spec-product-frame .spec-product-wrapper .spec-product-left {
    position: relative;
    padding: 30px;
    width: 664px;
    height: 368px;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 6px;
    background: #F3F5F6;
}

.spec-product-frame .spec-product-left .spec-product-left-content {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.spec-product-frame .spec-product-left-content span {
    color:  #041E42;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.spec-product-frame .spec-product-left-content p {
    color: #041E42;

    font-family: var(--font);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.spec-product-frame .spec-product-left-content a {
    color: #041E42;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
}

.spec-product-frame .spec-product-left img {
    position: absolute;
    width: 322px;
    height: 309px;
    right: 5%;
}

.spec-product-frame .spec-product-wrapper .small-product-wrapper {
    margin-left: 30px;
    width: 620px;
    height: 368px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.spec-product-frame .small-product-wrapper .small-product-box {
    padding: 30px;
    width: 293px;
    height: 170px;
    border-radius: 6px;
    background: #F3F5F6;
    position: relative;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.spec-product-frame .small-product-box:nth-child(odd) {
    margin-right: 30px;
}

.spec-product-frame .small-product-box .small-product-content {
    display: flex;
    flex-direction: column;
}

.spec-product-frame .small-product-content strong {
    color: #041E42;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.spec-product-frame .small-product-content span {
    color: #626974;

    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.spec-product-frame .small-product-box img {
    position: absolute;
    right: 30px;
    bottom: 16px;
}
/* Ending Special-product section */

/* Starting Tv section */
.tv-frame {
    position: relative;
    margin-top: 90px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tv-frame .container {
    display: flex;
    flex-direction: column;
}

.tv-frame .tv-wrapper .tv-product-boxes {
    width: 1300px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.tv-frame .tv-product-boxes .tv-product-box {
    width: 260px;
    height: 452px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tv-frame .tv-product-box .product-img {
    width: 100%;
    height: 280px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Ending tv section */

/* Starting Event section */
.event-frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 632px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-image: url(/public/images/event-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.event-frame .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.event-frame .container .event-content-box {
    width: 340px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-frame .event-content-box .event-title {
    color: #FFF;

    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.event-frame .event-content-box .timer-wrapper {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.event-frame .timer-wrapper .timer-box {
    width: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.event-frame .timer-box strong {
    color: #FFF;
    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.event-frame .timer-box span {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.event-frame .event-content-box a {
    width: 140px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #041E42;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    border-radius: 6px;
    border: 1px solid #FFF;
    background: #FFF;
}

.event-frame .container .event-product-wrapper {
    width: 930px;
    height: auto;

    display: flex;
    flex-direction: row;
}

.event-frame .event-product-wrapper .event-product-boxes {
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-frame .event-product-boxes .event-product-box {
    width: 205px;
    height: auto;
    margin-right: 8px;

    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #FFF; 
}

.event-frame .event-product-box .event-product-img {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Ending event section */